# API Keys and Secrets
chatgpt.token
.env

# Python Virtual Environment
venv/
__pycache__/
*.pyc

# User Uploads and generated images
uploads/
*.jpeg
*.jpg
*.png
*.pdf

# Temp files
.DS_Store
.claude/
.md